.grid-container {
    display: grid;
    gap: 50px;
    align-content: center;
}

.image {
    width: 50%;
}

.item1 {
    grid-row: 1;
    grid-column: 1;
}

.item2 {
    grid-row: 1;
    grid-column: 2;
}

.item3 {
    grid-column: 3;
    grid-row: 1;
}

.item4 {
    grid-column: 1;
    grid-row: 2;
}