body {
    background-color: black;
    font-family:"Rubik", sans-serif;
}

p {

    color: white;
}

a {

    color: white;
}

h1 {

    color: white;
}

h2 {

    color: white;
}

h3 {

    color: white;
}